[defaults]
# required to evade implicit conversion to string in k8s resource_definition
jinja2_native = True
inventory = ./inventory.yml
remote_user = student
ask_pass = no

[privilege_escalation]
become = no
become_method = sudo
become_askpass = no

